body{
    margin: 15px;
    padding: 10px;
    border:  solid black;
    max-height: 100vh;
}
h1{
    background-color: red;
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gray;
}

h2{
    text-align: center;
    vertical-align: bottom;
}